
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url('fotos/fundo_site.png');
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255,255,255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255,255,255, .2);
}

header:hover::before {
    left: 100%;
}

.logo {
    color: rgb(109, 170, 219);
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: rgb(79, 143, 196);
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: red;
}

#menu-icon {
    font-size: 36px;
    color: rgb(79, 143, 196);
    display: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        padding: .5rem 4%;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: fixed;
        top: 11.8%;
        left: 0;
        width: 100%;
        height: 295px;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255, 255, 255, .2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}

.loG{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    background: linear-gradient(#468fb1, #cccfee);
    
}

.aneis{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 3px;
   
    
}

.aneis .anel {
    position: absolute;
    border: 2px solid #3a7af1;
    border-radius: 50%;
}

.aneis .anel:nth-of-type(1){
width: 100%;
height: 100%;
border: 3px solid #3a74f1;
animation: anel-1 1.5s linear infinite;
}

.aneis .anel:nth-of-type(2){
    width: calc(100% *.65);
    height: calc(100% * .65);
    border: 2px solid #62c0ec;
    animation: anel-2 1.5s linear infinite;
    
    }

.aneis .anel:nth-of-type(3){
    width: calc(100% * .1);
    height: calc(100% * .1);
    border: 2px  solid #2ae6f3;
    animation: anel-3 1.5s linear infinite;
        
    }

    @keyframes anel-1 {
        0%{
            transform: rotateZ(20deg);
        }
        100%{
            transform: rotateZ(100deg) rotateY(360deg);            
        }
    }

    @keyframes anel-2 {
        0%{
            transform: rotateZ(100deg);
        }
        100%{
            transform: rotateZ(0deg) rotateY(360deg);            
        }
    }

    @keyframes anel-3 {
        0%{
            transform: rotateZ(100deg) rotateX(-360deg);
        }
        100%{
            transform: rotateZ(-100deg) rotateX(360deg);            
        }
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-wrap: wrap;
        z-index: 1;

    }

    .container .card {
        position: relative;
        width: 400px;
        height: 400px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
        background: rgba(255, 255, 255 , .1);
        border-top: 1px solid rgba(255, 255, 255 , .5);
        border-left: 1px solid rgba(255, 255, 255 , .5);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(15px);
        margin: 30px;
        margin-top: 60px;
    }   


    .container .card .content {
        position: relative;
        padding: 20px;
        text-align: center;
        transition: .5s;
        transform: translateY(100px);
        opacity: 0;
    }

    .container .card:hover .content {
        transform: translateY(0px);
        opacity: 1;
    }



.container .card .content span {
    position: absolute;
    top: -90px;
    right: 30px;
    font-size: 8rem;
    color: rgba(98, 102, 101, 0.671);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8rem;
    color: #000000a4;
    z-index: 1;
}



.container .card .content p {
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    margin: 15px 0;
}

.container .card .content a {
    padding: 8px 20px ;
    background: #fff;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

